h1 {
  font-size: 800%;
}

#itsTimeFor {
  font-size: 400%;
}

#timer {
  font-size: 1200%;
  border: 1px solid black;
  border-radius: 5px;
}

#start, #pause, #reset {
  font-size: 400%;
}

#break {
  font-size: 400%;
  display: none;
}

#buffer {
  padding: 10px;
}
